<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="MappingSettings">
			<section name="FlightDataMappings" type="System.Configuration.DictionarySectionHandler"/>
		</sectionGroup>
	</configSections>
	<MappingSettings>
		<FlightDataMappings>
			<add key="TimeStamp" value="0"/>
			<add key="OmegaXDesired" value="1"/>
			<add key="OmegaXCurrent" value="2"/>
			<add key="OmegaYDesired" value="3" />
			<add key="OmegaYCurrent" value="4"/>
			<add key="OmegaZDesired" value="5"/>
			<add key="OmegaZCurrent" value="6"/>
			<add key="BaroAltitudeCurrent" value="7"/>
			<add key="VelocityYDesired" value="8"/>
			<add key="VelocityYCurrent" value="9"/>
			<add key="Nz" value="10"/>
			<add key="OmegaXKp" value="11"/>
			<add key="OmegaXKi" value="12"/>
			<add key="OmegaYKp" value="13"/>
			<add key="OmegaYKi" value="14"/>
			<add key="OmegaZKp" value="15"/>
			<add key="OmegaZKi" value="16"/>
			<add key="VelocityYKp" value="17"/>
			<add key="Pitch" value="18"/>
			<add key="Roll" value="19"/>
			<add key="Yaw" value="20"/>
			<add key="ModePwm" value="21"/>
			<add key="ErsMode" value="22"/>
		</FlightDataMappings>
	</MappingSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>