<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="MappingSettings">
			<section name="FlightDataMappings" type="System.Configuration.DictionarySectionHandler"/>
		</sectionGroup>
		<sectionGroup name="WayPointSettings">
			<section name="WayPoints" type="System.Configuration.DictionarySectionHandler"/>
		</sectionGroup>
	</configSections>
	<WayPointSettings>
		<WayPoints>
			<!--<add key="Point1" value="Lat;Lng"/>-->
			<add key="Point1" value="55.582000;38.080810"/>
			<add key="Point2" value="55.582614;38.080410"/>
		</WayPoints>
	</WayPointSettings>
	<MappingSettings>
		<FlightDataMappings>
			<add key="TimeStamp" value="0"/>
			<add key="OmegaXDesired" value="1"/>
			<add key="OmegaXCurrent" value="2"/>
			<add key="OmegaYDesired" value="3" />
			<add key="OmegaYCurrent" value="4"/>
			<add key="OmegaZDesired" value="5"/>
			<add key="OmegaZCurrent" value="6"/>
			<add key="BaroAltitudeCurrent" value="7"/>
			<add key="VelocityYDesired" value="8"/>
			<add key="VelocityYCurrent" value="9"/>
			<add key="AirSpeed" value="10"/>
			<add key="OmegaXKp" value="11"/>
			<add key="OmegaXKi" value="12"/>
			<add key="OmegaYKp" value="13"/>
			<add key="OmegaYKi" value="14"/>
			<add key="OmegaZKp" value="15"/>
			<add key="OmegaZKi" value="16"/>
			<add key="VelocityYKp" value="17"/>
			<add key="Pitch" value="18"/>
			<add key="Roll" value="19"/>
			<add key="Yaw" value="20"/>
			<add key="Nz" value="21"/>
			<add key="OmegaTurn" value="22"/>
			<add key="RollDesired" value="23"/>
			<add key="Longitude" value="24"/>
			<add key="Latitude" value="25"/>
			<add key="GpsSpeed" value="26"/>
			<add key="GpsCourse" value="27"/>
			<add key="GpsValid" value="28"/>
			<add key="ModePwm" value="29"/>
			<add key="BatteryVoltage" value="30"/>
			<add key="ErsMode" value="31"/>
		</FlightDataMappings>
	</MappingSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>