<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="MappingSettings">
			<section name="FlightDataMappings" type="System.Configuration.DictionarySectionHandler"/>
		</sectionGroup>
		<sectionGroup name="WayPointSettings">
			<section name="WayPoints" type="System.Configuration.DictionarySectionHandler"/>
		</sectionGroup>
	</configSections>
	<WayPointSettings>
		<WayPoints>
			<!--<add key="Point1" value="Lat;Lng"/>-->
			<add key="Home" value="55.582540;38.079028"/>
			<add key="Point1" value="55.581682;38.078081"/>
			<add key="Point2" value="55.581605;38.080250"/>
			<add key="Point3" value="55.583198;38.081973"/>
			<add key="Point4" value="55.583221;38.084280"/>
			<add key="Point5" value="55.584361;38.084540"/>
			<add key="Point6" value="55.585972;38.080555"/>
			<add key="Point7" value="55.584919;38.079759"/>
			<add key="Point8" value="55.583985;38.079356"/>
			<add key="Point9" value="55.582962;38.077614"/>
			<add key="Point10" value="55.581682;38.078081"/>
		</WayPoints>
	</WayPointSettings>
	<MappingSettings>
		<FlightDataMappings>
			<add key="TimeStamp" value="0"/>
			<add key="OmegaXDesired" value="1"/>
			<add key="OmegaXCurrent" value="2"/>
			<add key="OmegaYDesired" value="3" />
			<add key="OmegaYCurrent" value="4"/>
			<add key="OmegaZDesired" value="5"/>
			<add key="OmegaZCurrent" value="6"/>
			<add key="BaroAltitudeCurrent" value="7"/>
			<add key="BaroAltitudeDesired" value="8"/>
			<add key="VelocityYDesired" value="9"/>
			<add key="VelocityYCurrent" value="10"/>
			<add key="AirSpeed" value="11"/>
			<add key="OmegaXKp" value="12"/>
			<add key="OmegaXKi" value="13"/>
			<add key="OmegaYKp" value="14"/>
			<add key="OmegaYKi" value="15"/>
			<add key="OmegaZKp" value="16"/>
			<add key="OmegaZKi" value="17"/>
			<add key="VelocityYKp" value="18"/>
			<add key="Pitch" value="19"/>
			<add key="Roll" value="20"/>
			<add key="Yaw" value="21"/>
			<add key="Nz" value="22"/>
			<add key="OmegaTurn" value="23"/>
			<add key="RollDesired" value="24"/>
			<add key="Longitude" value="25"/>
			<add key="Latitude" value="26"/>
			<add key="GpsSpeed" value="27"/>
			<add key="GpsCourse" value="28"/>
			<add key="GpsValid" value="29"/>
			<add key="ModePwm" value="30"/>
			<add key="BatteryVoltage" value="31"/>
			<add key="ErsMode" value="32"/>
		</FlightDataMappings>
	</MappingSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>