<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="WayPointSettings">
			<section name="WayPoints" type="System.Configuration.DictionarySectionHandler"/>
		</sectionGroup>
	</configSections>
	<WayPointSettings>
		<WayPoints>
			<!--<add key="Point1" value="Lat;Lng"/>-->
			<add key="Point1" value="55.582000;38.080810"/>
			<add key="Point2" value="55.582614;38.080410"/>
		</WayPoints>
	</WayPointSettings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>